<nav class="navbar bg-body-tertiary border-bottom mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/products">BMS</a>
    <form class="d-flex" role="search">
      <a
        href="/add-product"
        class="btn btn-warning ml-2 d-flex align-items-center"
      >
        Add product
        <span class="material-symbols-outlined"> add</span>
      </a>
    </form>
  </div>
</nav>
